<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :Login %><br />
  <%= f.text_field :login, autofocus: true, :placeholder=>"your user name/email here"%></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :placeholder=>"Password" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in", :class=>"btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
